/* fonts */
/* break points */
/* media query sizes */
/* colors */
/* shadows */
/* borders */
/* paddings */
/* margins */
/* transitions */
/* others */
/* fonts */
/* break points */
/* media query sizes */
/* colors */
/* shadows */
/* borders */
/* paddings */
/* margins */
/* transitions */
/* others */
/* font query */
@font-face {
  font-family: "shrikhand";
  src: url(../../font/shrikhand/shrikhand.eot?#iefix) format("embedded-opentype"), url(../../font/shrikhand/shrikhand.ttf) format("truetype"), url(../../font/shrikhand/shrikhand.svg) format("svg"), url(../../font/shrikhand/shrikhand.woff) format("woff"), url(../../font/shrikhand/shrikhand.woff2) format("woff2");
}

@font-face {
  font-family: "roboto";
  src: url(../../font/roboto/roboto.eot?#iefix) format("embedded-opentype"), url(../../font/roboto/roboto.ttf) format("truetype"), url(../../font/roboto/roboto.svg) format("svg"), url(../../font/roboto/roboto.woff) format("woff"), url(../../font/roboto/roboto.woff2) format("woff2");
}

/* media query */
@media (min-width: 320px) {
  div.button-rect {
    padding-left: 60px;
  }
  div.button-rect .button-rect_sticker {
    top: 32px;
  }
  div.button-rect .icon-ftng {
    top: 38px;
    left: 14%;
  }
  body > .wrapper {
        grid-template-areas: "header header" "explore explore" "functioning functioning" "restaurants restaurants";
    -ms-grid-columns: 41%;
        grid-template-columns: 41%;
  }
  .wrapper .header_search_container_icon {
    top: 23%;
  }
}

@media (min-width: 375px) {
  div.button-rect {
    padding-left: 60px;
  }
  div.button-rect .button-rect_sticker {
    top: 20px;
  }
  div.button-rect .icon-ftng {
    top: 26px;
    left: 10%;
  }
  .wrapper .header_search_container {
    max-width: 555px;
    width: 100%;
    margin: auto;
  }
}

@media (min-width: 768px) {
  /* item */
  h1.logo--header {
    font-size: 50px;
  }
  div.button {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: button;
    margin: auto;
  }
  /* rules */
  body > .wrapper {
        grid-template-areas: "header header" "explore explore" "functioning functioning" "restaurants restaurants";
    -ms-grid-columns: 41%;
        grid-template-columns: 41%;
  }
  .wrapper .header {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "logo logo" "intro search";
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .wrapper .header_intro {
    padding: unset;
  }
  .wrapper .header_search {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: search;
  }
  .wrapper .header_search_container {
    width: 95%;
    border-radius: 15px;
  }
  .wrapper .header_search_container_icon {
    left: 21%;
    top: 27%;
  }
  .wrapper .header_search_container_field {
    border-radius: 15px;
  }
  .wrapper .explore {
        grid-template-areas: "text title button";
    -ms-grid-columns: 33.3% 33.3% 33.3%;
        grid-template-columns: 33.3% 33.3% 33.3%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    border-top: solid #7f7f7f 2px;
  }
  .wrapper .explore .explore_title {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: title;
    margin: auto;
  }
  .wrapper .explore .explore_text {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: text;
    margin: auto;
  }
  .wrapper .functioning .functioning_title {
    text-align: center;
  }
  .wrapper .functioning ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .wrapper .functioning ul div.button-rect {
    padding-left: 60px;
  }
  .wrapper .functioning ul div.button-rect .button-rect_sticker {
    top: 21px;
  }
  .wrapper .functioning ul div.button-rect .icon-ftng {
    left: 14%;
  }
  .wrapper .restaurants {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 38% 38%;
        grid-template-columns: 38% 38%;
    gap: 50px;
    max-width: unset;
  }
  .wrapper .restaurants .restaurants_title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    text-align: center;
  }
}

/* modifier */
.center {
  width: 100%;
  margin: auto;
  text-align: center;
}

.rounded {
  border-radius: 40px;
}

.rectangular {
  border-radius: 15px;
}

.circle {
  border-radius: 50px;
}

.unlist {
  list-style-type: none;
}

.unlink {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.spacer-right {
  margin-right: 5px;
}

.tag::before {
  content: "Nouveau";
  display: inline-block;
  background-color: #99E2D0;
  font-size: 120%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 5px;
}

/* item */
.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  font-family: shrikhand, serif, sans-serif;
}

.logo--header {
  font-size: 35px;
  color: #000000;
}

.logo--footer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  font-size: 20px;
  margin-bottom: 20px;
  color: #ffffff;
}

.button {
  grid-area: button;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: #ffffff;
  margin-bottom: 15px;
  padding: 15px;
  width: 220px;
  margin: auto;
  font-weight: bold;
  -webkit-box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.352);
          box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.352);
  margin-bottom: 35px;
}

.button-rect {
  border-radius: 15px;
  position: relative;
  padding: 25px;
  color: #000000;
  width: 100%;
}

.button-rect_sticker {
  position: absolute;
  color: #ffffff;
  padding: 4px 10px;
  background-color: #9356DC;
  top: 21px;
  left: -15px;
}

.card {
  -webkit-box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.352);
          box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.352);
  background-color: #ffffff;
  color: #000000;
  text-align: start;
  position: relative;
  height: 250px;
}

.card_link {
  width: 100%;
  height: 250px;
}

.card_link_img {
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 75%;
}

.card_link_caption {
  padding: 10px;
}

.icon-heart {
  position: absolute;
  font-size: 23px;
  top: 80%;
  left: 80%;
  color: #9356DC;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.icon-heart--full {
  color: #00000000;
}

.icon-heart:hover {
  color: #9356DC;
}

.icon-ftng {
  color: #7f7f7f;
  font-size: 20px;
  position: absolute;
  left: 10%;
  color: #7f7f7f;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

a:hover .icon-ftng {
  color: #9356DC;
}

/* group rules */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, p, div, span {
  font-family: roboto, serif, sans-serif;
}

/* rules */
.header {
  grid-area: header;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo" "search" "intro";
}

.header_search {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: search;
}

.header_search_container {
  position: relative;
}

.header_search_container_icon {
  position: absolute;
  left: 26%;
  top: 20%;
  font-size: 20px;
  color: #353535;
}

.header_search_container_field {
  font-size: 19px;
  padding-left: 35%;
  background-color: #dddddd;
  -webkit-box-shadow: 0 5px 5px #7f7f7f inset;
          box-shadow: 0 5px 5px #7f7f7f inset;
  outline: none;
  border: none;
  height: 50px;
  color: #353535;
  width: 100%;
}

.header_intro {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: intro;
  padding: 20px;
}

.footer {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo" "container";
  background-color: #353535;
  padding: 20px;
}

.footer_container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: container;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "proposition"  "partner" "mentions" "contact";
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.footer_container a {
  color: #ffffff;
  margin-bottom: 7px;
}

.footer_container .proposition {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: proposition;
}

.footer_container .partner {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: partner;
}

.footer_container .mentions {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: mentions;
}

.footer_container .contact {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contact;
}
/*# sourceMappingURL=master.css.map */