/* font */
/* color */
/* shadow */
/* border */
/* padding */
/* transition */
/* font query */
@font-face {
  font-family: "shrikhand";
  src: url(../font/shrikhand/shrikhand.eot?#iefix) format("embedded-opentype"), url(../font/shrikhand/shrikhand.ttf) format("truetype"), url(../font/shrikhand/shrikhand.svg) format("svg"), url(../font/shrikhand/shrikhand.woff) format("woff"), url(../font/shrikhand/shrikhand.woff2) format("woff2");
}

@font-face {
  font-family: "roboto";
  src: url(../font/roboto/roboto.eot?#iefix) format("embedded-opentype"), url(../font/roboto/roboto.ttf) format("truetype"), url(../font/roboto/roboto.svg) format("svg"), url(../font/roboto/roboto.woff) format("woff"), url(../font/roboto/roboto.woff2) format("woff2");
}

/* media query */
@media screen and (min-width: 1126px) {
  body > .wrapper {
        grid-template-areas: "search header" "intro intro" "explore explore" "functioning functioning" "restaurants restaurants";
    -ms-grid-columns: 41%;
        grid-template-columns: 41%;
  }
  .wrapper > .header {
    text-align: left;
    padding: 20px 20px 20px 0;
  }
  .wrapper > .header .header_logo {
    font-size: 50px;
  }
  .wrapper > .search {
    margin: unset;
    text-align: unset;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: search;
    padding: 20px 0 20px 20px;
  }
  .wrapper > .search .search_container_field {
    width: 93%;
  }
  .wrapper > .explore {
        grid-template-areas: "text title button";
    -ms-grid-columns: 33.3% 33.3% 33.3%;
        grid-template-columns: 33.3% 33.3% 33.3%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    border-top: solid #7f7f7f 2px;
  }
  .wrapper > .explore .explore_title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
    margin: auto;
  }
  .wrapper > .explore .explore_text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: text;
    margin: auto;
  }
  .wrapper > .explore .explore_button {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: button;
    margin: auto;
    width: 80%;
  }
  .wrapper > .functioning .functioning_title {
    text-align: center;
  }
  .wrapper > .functioning nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -webkit-animation: move linear 5s;
            animation: move linear 5s;
  }
  .wrapper > .restaurants {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 38% 38%;
        grid-template-columns: 38% 38%;
    gap: 50px;
    max-width: unset;
  }
  .wrapper > .restaurants .restaurants_title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    text-align: center;
  }
}

/* rules */
.wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "search" "intro" "explore" "functioning" "restaurants";
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.search {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: search;
}

.search_container {
  display: inline-block;
  position: relative;
}

.search_container_icon {
  position: absolute;
  left: 102px;
  top: 13px;
  font-size: 20px;
  color: #353535;
}

.search_container_field {
  font-size: 19px;
  padding-left: 135px;
  background-color: #dddddd;
  -webkit-box-shadow: 0 5px 5px #7f7f7f inset;
          box-shadow: 0 5px 5px #7f7f7f inset;
  outline: none;
  border: none;
  height: 50px;
  color: #353535;
  width: 100%;
}

.introduction {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: intro;
  padding: 20px;
}

.explore {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: explore;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title"  "text" "button";
  background-color: #f6f6f6;
  padding: 20px;
}

.explore_title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-weight: bold;
}

.explore_text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  margin: 5px 5px 20px 5px;
  color: gray;
}

.functioning {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: functioning;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title" "nav";
  padding: 20px 20px 60px 20px;
}

.functioning_title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  margin: 30px 0 10px 0;
}

.functioning nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

.functioning nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.functioning nav ul li a {
  width: 325px;
  background-color: #f6f6f6;
  -webkit-box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.352);
          box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.352);
  margin: 15px;
}

.restaurants {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: restaurants;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  row-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
  padding: 20px 20px 60px 20px;
  margin: auto;
  width: 100%;
  max-width: 750px;
}

.restaurants_title {
  text-align: start;
  margin-top: 30px;
}
/*# sourceMappingURL=style.css.map */