@media screen and (min-width: 1126px)
{
    body > .wrapper
    {
        grid-template-areas: 
        "header search"
        "explore explore"
        "functioning functioning"
        "restaurants restaurants";
        grid-template-columns: 20% 80%;
    }
    .wrapper > .header
    {
       & .header_logo { @include uncenter; }
    }
    .wrapper > .search
    {
        @include uncenter;
        padding: $padding-regular;
    }
    .wrapper > .explore
    {
        grid-template-areas: "text title button";
        grid-template-columns: repeat(3, 33.3%);
    
        .explore_title
        {
            grid-area: title;
        }
        .explore_text
        {
            grid-area: text;
        }
        .explore_button
        {
            grid-area: button;
            width: 220px;

        }
    }
    .wrapper > .functioning
    {
        & .functioning_title
        {
            text-align: center;
        }
        nav
        {
            ul
            {
                display: grid;
                grid-template-columns: auto auto auto;
                animation: move linear 5s;
            }
        }
    }
    .wrapper > .restaurants
    {
        display: grid;
        grid-template-columns: 38% 38%;
        gap: 50px;
        
        & .restaurants_title
        {
            grid-column: 1 / span 2;
            text-align: center;
        }
        
    }

}


















