@media screen and (min-width: 1126px)
{
    body > .wrapper
    {
        grid-template-areas: 
        "header search"
        "explore explore"
        "functioning functioning"
        "restaurants restaurants";
        grid-template-columns: 20% 80%;
    }
    .wrapper > .header
    {
        border-bottom: solid $color-gray 2px;
       & .header_logo { @include uncenter; }
    }
    .wrapper > .search
    {
        @include uncenter;
        padding: $padding-regular;
        border-bottom: solid $color-gray 2px;

    }
    .wrapper > .explore
    {
        grid-template-areas: "text title button";
        grid-template-columns: 33.3% 33.3% 33.3%;
        justify-content: center;
        width: 100%;
        margin: auto;
    
        .explore_title
        {
            grid-area: title;
            margin: auto;
        }
        .explore_text
        {
            grid-area: text;
            margin : auto;
        }
        .explore_button
        {
            grid-area: button;
            margin: auto;
            width: 80%;
        }
    }
    .wrapper > .functioning
    {
        & .functioning_title
        {
            text-align: center;
        }
        nav
        {
            ul
            {
                display: grid;
                grid-template-columns: auto auto auto;
                animation: move linear 5s;
            }
        }
    }
    .wrapper > .restaurants
    {
        display: grid;
        grid-template-columns: 38% 38%;
        gap: 50px;
        max-width: unset;


        
        & .restaurants_title
        {
            grid-column: 1 / span 2;
            text-align: center;
        }
        
    }

}


















