@mixin getFont($font)
{
    @font-face
    {
        font-family: $font;
        src:url(../../font/#{$font}/#{$font}.eot?#iefix) format("embedded-opentype"),
        url(../../font/#{$font}/#{$font}.ttf) format("truetype"),
        url(../../font/#{$font}/#{$font}.svg) format("svg"),
        url(../../font/#{$font}/#{$font}.woff) format("woff"),
        url(../../font/#{$font}/#{$font}.woff2) format("woff2");
    }   
}
@mixin uncenter
{
    margin: unset;
    text-align: unset;
    width: unset;
}




