@import "variables";

@mixin getFont($font)
{
    @font-face
    {
        font-family: $font;
        src:url(../../font/#{$font}/#{$font}.eot?#iefix) format("embedded-opentype"),
        url(../../font/#{$font}/#{$font}.ttf) format("truetype"),
        url(../../font/#{$font}/#{$font}.svg) format("svg"),
        url(../../font/#{$font}/#{$font}.woff) format("woff"),
        url(../../font/#{$font}/#{$font}.woff2) format("woff2");
    }   
}
@mixin getfonts($list)
{
    @each $font in $list { @include getFont($font); }
}
@mixin font-size-query($font-size, $multp)
{
    div.loader
    {
        font-size: $font-size * $multp;
    }
    .wrapper.index
    {
        font-size: $font-size * $multp;

        .hdr
        {
            font-size: $font-size * $multp;
        }
        .intro
        {
            font-size: $font-size * $multp;
        }
        .srch
        {
            font-size: $font-size * $multp;
        }
        .sctn.index
        {
            font-size: $font-size * $multp;
        }
        .ftr
        {
            font-size: $font-size * $multp;
        }

    }
    .wrapper.pages
    {
        .hdr
        {
            font-size: $font-size * $multp;
        }
        .intro
        {
            font-size: $font-size * $multp;
        }
        .sctn
        {
            font-size: $font-size * $multp;
        }
        .ftr
        {
            font-size: $font-size * $multp;
        }
    }
}
@mixin mq-tab-medium
{
    @media #{$mq-tab-medium}
    {
        .sctn.index
        {
            .rst
            {
                grid-template-columns: auto auto;
                gap: $gap-rst;
                justify-content: space-around   ;
        
                &__title
                {
                    grid-column: 1 / span 2;
                }
            }
        }
    }    
}
@mixin mq-lap-medium
{
    @media #{$mq-lap-medum}
    {
        .wrapper.index
        {
            .sctn.index
            {
                .ftg
                {
                    grid-template-areas: 
                    "title title title"
                    "choose compose eat";
                    column-gap: $gap-sctn-ftg;
                    &__title
                    {
                        text-align: center;
                    }
                }
                .rst
                {
                    text-align: center;
        
                    & .card__caption
                    {
                        text-align: left;
                    }
                }
            }    
        }
        .wrapper.pages
        {
            .intro
            {
                display: block;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
            }
            .sctn
            {
                grid-template-areas: 
                "title title title"
                "starters dishies desserts"
                "order order order"; 
                grid-template-columns: auto;
                column-gap: 2em;        
            }
        }
    }
}
@mixin mq-lap-large
{
    @media #{$mq-lap-large}
    {
        @include font-size-query($font-size-origin, $multp-lap-large);
    }
}
@mixin mq-4K-xxlarge    
{
    @media #{$mq-4K-xxlarge}
    {   
        @include font-size-query($font-size-origin, $multp-4k);
    }
}
@mixin origin
{
    @include getfonts($font-list);
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: $font-text;
    }
    [class*=__logo] { font-family: $font-logo; }
    @include header;
    @include footer;
}
@mixin header
{
    .hdr
    {
        text-align: center;
        font-size: $font-size-origin;
        padding: $padding-base;

        &__logo
        {
            font-weight: unset;
            font-size: $font-size-hdr-logo;
        }
    }    
}
@mixin footer
{
    .ftr
    {
        display: grid;
        grid-template-areas: 
        "logo"
        "list";
        font-size: $font-size-origin;
        padding: $padding-base;
        background-color: $color-black-gray;
        padding-bottom: $padding-ftr-down;
    
        &__logo
        {
    
            grid-area: logo;
            color: $color-white;
            font-size: $font-size-ftr-logo;
            margin-bottom: $margin-bottom-ftr-logo;
            font-weight: unset;
        }
        .list
        {
            grid-area: list;
            display: inline-grid;
            grid-template-areas: 
            "propose"
            "partner"
            "mentions"
            "contact";
            list-style-type: none;
            
            &__itm
            {
                text-decoration: none;
                color: $color-white;      
                font-size: $font-size-ftr-list-item;   
            }
            &__icon
            {
                padding-right: $padding-right-ftr-list-icn;
                font-size: $font-size-ftr-list-icn;
            }
            .propose
            {
                grid-area: propose;
            }
            .partner
            {
                grid-area: partner;
                
            }
            .mentions
            {
                grid-area: mentions;
                
            }
            .contact
            {
                grid-area: contact;
                
            }
        }
    }    
}
@mixin card
{
    .card
    {
        border-radius: $radius-rect;
        box-shadow: $box-shadow-regular;
        max-width: $max-width-rst-card;
        width: $width-rst-card;
        height: $height-rst-card;
    
        &__img
        {
            object-fit: cover;
            border-radius: $radius-rect-up;
            width: $widh-rst-card-img;
            height: $height-rst-card-img;        
        }
        &__caption
        {
            border-radius: $radius-rect-down;
            color: $color-black;
            padding: $padding-rst-card-caption;
            height: $height-rst-card-caption;
            font-size: $font-size-rst-card-cpt;

            strong
            {
                font-size: $font-size-rst-card-cpt-strg;
            }
        } 
    }    
}
@mixin btn
{
    .btn
    {
        display: inline-block;
        position: relative;
        text-align: center;
        text-decoration: none;
        box-shadow: $box-shadow-regular;    
        padding: $padding-base;
    
        &--round 
        { 
            border-radius: $radius-rounded; 
        }
        &--rect
        { 
            border-radius: $radius-rect; 
        }
        &--grad 
        { 
            background: $color-gradient;
            color: $color-white;
        }
        &--white
        {
            background-color: $color-white; 
            color: $color-black
        }
    }    
}
@mixin icon-heart
{
    .icon-heart
    {
        position: absolute;
        color: $color-secondary;
        &--hidden
        {
            color: $color-transprent;

            &:hover
            {
                color: $color-secondary;
                transition: $transition-color;
            }
        }
    }
}
@mixin loader-elemnts-animate
{
    @keyframes loader-bg-animate
    {
        0%{background-color: $color-tertiary; top: 0%; width: $max-perct; height: $max-perct;}
        25%{background-color: $color-secondary; top: 0%; width: $max-perct; height: $max-perct;} 
        75%{background-color: $color-secondary; top: 0%; width: $max-perct; height: $max-perct;} 
        79%{top: 0%; width: $max-perct; height: $max-perct;}
        100%{background-color: $color-tertiary; top: -600%; width: 0%; height: 0%;}
    }
    @keyframes loader-icon-animate
    {
        0%{transform: rotate(0deg);}
        100%{transform: rotate(360deg);}   
    }
    @each $class, $fsize in  $map-fsize
    {
        @keyframes loader-#{$class}-hide-animate
        {   
            0%{opacity: 1; font-size: $fsize;}
            90%{opacity: 1;}
            99%{font-size: $fsize;}
            100%{opacity: 0; font-size: 0;}
        }    
    }
    @each $lr in  $list-drpr
    {
        @keyframes loader-#{$lr}-animate
        {
            0%{#{$lr}: 0%; width: $half-perct; height: $max-perct;} 
            70%{#{$lr}: 0%;}
            99%{width: $half-perct; height: $max-perct;}
            100%{#{$lr}: $pos-loader-lr; width: 0%; height: 0%;}
    
            0%{background-color: $color-transprent;}
            65%{background-color: $color-transprent;}
            66%{background-color: inherit;}
            100%{background-color: inherit;}
        }
    }
    .loader
    {
        animation: loader-bg-animate linear 5s;

        @each $class, $key in $map-fsize
        {
            &__#{$class}
            {
                @if($class == icon)
                { animation: loader-#{$class}-hide-animate linear 4s, loader-icon-animate linear 3s; }
                @else
                { animation: loader-#{$class}-hide-animate linear 4s; } 
            }
        }
        @each $lr in  $list-drpr
        {
            &__#{$lr}
            {
                animation: loader-#{$lr}-animate 6s;
            }
        }
    }
}
@mixin hls-animate
{
    @keyframes hls-animate
    {
        0%{ width : 0%; }
        30%{ width : 0%; }
        100%{ width: $width-hls;}
    }
    .hls
    {
        animation: $animation-hls;
    }    
}
@mixin menus-animate($class) // $class most havve: "position: [relative | absolute]"
{
    @include hls-animate;

    @keyframes #{$class}-animate
    {
        0%{opacity: 0; top: 30%}
        50%{opacity: 0; top: 30%}
        100%{opacity: 1; top: 0% }
    }
    .#{$class}
    {
        $duration: $duration-menus;
        @for $i  from 2 through 6
        {
            :nth-child(#{$i}):not(.btn__price):not(.hls)
            {
                animation: #{$class}-animate #{$duration}s;
                $duration : $duration + $offset-menus-animate;
            }
        }
    }
}





