@import "variables";

@mixin getFont($font)
{
    @font-face
    {
        font-family: $font;
        src:url(../../font/#{$font}/#{$font}.eot?#iefix) format("embedded-opentype"),
        url(../../font/#{$font}/#{$font}.ttf) format("truetype"),
        url(../../font/#{$font}/#{$font}.svg) format("svg"),
        url(../../font/#{$font}/#{$font}.woff) format("woff"),
        url(../../font/#{$font}/#{$font}.woff2) format("woff2");
    }   
}
@mixin getfonts($list)
{
    @each $font in $list { @include getFont($font); }
}
@mixin mq-tab-medium
{
    @media #{$mq-tab-medium}
    {
        .section 
        {
            .rst
            {
                grid-template-columns: auto auto;
                gap: 50px;
                justify-content: space-around   ;
        
                &__title
                {
                    grid-column: 1 / span 2;
                }
            }
        }
    }    
}
@mixin mq-lap-medium
{
    @media #{$mq-lap-medum}
    {
        .section 
        {
            .ftg
            {
                grid-template-areas: 
                "title title title"
                "choose compose eat";
                column-gap: $gap-regular;
                &__title
                {
                    text-align: center;
                }
            }
            .rst
            {
                text-align: center;
    
                & .card__caption
                {
                    text-align: left;
                }
            }
        }
    }
}
@mixin mq-lap-large
{
    @media #{$mq-lap-large}
    {
        .section
        {
            position: relative;
            
            .vl
            {
                position: absolute;
                border-left: $border-vh-lines;
                height: $height-vl;
                top: $top-vl;
                left: $left-vl;
            }
            .hl
            {
                position: absolute;
                border-top: $border-vh-lines;
                width: $width-hl;
                top: $top-hl;
                left: $left-hl;
            }
        }
    }
}
@mixin mq-4K-xxlarge
{
    @media #{$mq-4K-xxlarge}
    {

    }
}
@mixin origin
{
    @include getfonts($font-list);
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: $font-text;
        font-size: $font-size-origin;
    }
    [class*=__logo] { font-family: $font-logo; }
    @include header;
    @include footer;
}
@mixin header
{
    .hdr
    {
        display: grid;
        grid-template-areas: 
        "logo"
        "intro"
        "search";
        text-align: center;
        padding: $padding-base;
        
        &__logo
        {
            grid-area: logo;
            font-weight: unset;
            font-size: $font-size-hdr_logo;
        }
        &__intro
        {
            grid-area: intro;
        }
    }    
}
@mixin footer
{
    .ftr
    {
        display: grid;
        grid-template-areas: 
        "logo"
        "list";
        background-color: $color-black-gray;
        padding: $padding-base;
        padding-bottom: $padding-ftr-down;
    
        &__logo
        {
    
            grid-area: logo;
            color: $color-white;
            margin-bottom: $margin-bottom-ftr-logo;
            font-size: $font-size-ftr_logo;
            font-weight: unset;
        }
        .list
        {
            grid-area: list;
            display: inline-grid;
            grid-template-areas: 
            "propose"
            "partner"
            "mentions"
            "contact";
            list-style-type: none;
            
            &__itm
            {
                text-decoration: none;
                color: $color-white;      
                font-size: $font-size-ftr-list-item;   
            }
            &__icon
            {
                padding-right: $padding-right-ftr-list-icn;
                font-size: $font-size-ftr-list-icn;
            }
            .propose
            {
                grid-area: propose;
            }
            .partner
            {
                grid-area: partner;
                
            }
            .mentions
            {
                grid-area: mentions;
                
            }
            .contact
            {
                grid-area: contact;
                
            }
        }
    }    
}
@mixin card
{
    .card
    {
        border-radius: $radius-rectangular;
        box-shadow: $box-shadow-regular;
        max-width: $max-width-rst-card;
        width: $width-rst-card;
        height: $height-rst-card;
    
        &__img
        {
            object-fit: cover;
            border-radius: $radius-rect-up;
            width: $widh-rst-card-img;
            height: $height-rst-card-img;        
        }
        &__caption
        {
            border-radius: $radius-rect-down;
            color: $color-black;
            padding: $padding-rst-card-caption;
            height: $height-rst-card-caption;
            font-size: $font-size-rst-card-cpt;

            strong
            {
                font-size: $font-size-rst-card-cpt-strg;
            }
        } 
    }    
}
@mixin button
{
    .btn
    {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        box-shadow: $box-shadow-regular;    
        padding: $padding-btn-expl-form;
    
        &--round 
        { 
            border-radius: $radius-rounded; 
        }
        &--rect
        { 
            border-radius: $radius-rectangular; 
        }
        &--grad 
        { 
            background: $color-gradient; color: $color-white;
        }
        &--white
        {
            background-color: $color-white-dirty; 
            color: $color-black
        }
    }    
}
@mixin vh-line-animate($class, $property, $size)
{
    @media (min-width: 1440px)
    {
        @keyframes #{$class}-animate
        {
            0%{#{$property} : 0%;}
            100%{#{$property}: $size;}
        }
        .#{$class}
        {
            animation: #{$class}-animate linear 2s;
        }
    }
}

@each $class, $property in $map-vh-line
{
    @each $property-name, $val in $property
    {
        @include vh-line-animate($class, $property-name, $val);
    }
}
