/* modifier */
 
.center
{
    width: $max;
    margin: auto;
    text-align: center;
}   
.rounded
{
    border-radius: $border-rounded;
}
.rectangular
{
    border-radius: $border-rectangular;
}
.circle
{
    border-radius: $border-circle;
}
.unlist
{
    list-style-type: none;
}
.unlink
{
    display: inline-block;
    text-decoration: none;
    color: $color-black;
}
.spacer-right
{
    margin-right: 5px; 
}
.tag::before
{
    content: "Nouveau";
    display: inline-block;
    background-color: $color-tertiary;
    font-size: 120%;
    position: absolute;
    top: 0;                
    right: 0;
    margin: 20px;
    padding: 5px;
}
