
/* font query */

@each $font in $font-list 
{@include getFont($font);}

/* media query */

@media screen and (min-width: 1126px)
{
    body > .wrapper
    {
        grid-template-areas: 
        "search header "
        "intro intro"
        "explore explore"
        "functioning functioning"
        "restaurants restaurants";
        grid-template-columns: 41%;  
    }
    .wrapper > .header
    {
        text-align: left;
        padding: 20px 20px 20px 0;
        .header_logo
        {

            font-size: 50px;
        }
    }
    .wrapper > .search
    {
        @include uncenter; 
        position: absolute;
        padding: $padding-down;

        .search_container
        {

            &_field
            { 
                width: 95%;

            }
        }
    }
    .wrapper > .explore
    {
        grid-template-areas: "text title button";
        grid-template-columns: 33.3% 33.3% 33.3%;
        justify-content: center;
        width: 100%;
        border-top: solid $color-gray 2px;

        .explore_title
        {
            grid-area: title;
            margin: auto;
        }
        .explore_text
        {
            grid-area: text;
            margin : auto;
        }
        .explore_button
        {
            grid-area: button;
            margin: auto;
            width: 80%;
        }
    }
    .wrapper > .functioning
    {
        & .functioning_title
        {
            text-align: center;
        }
        nav
        {
            ul
            {
                display: grid;
                grid-template-columns: auto auto auto;
                animation: move linear 5s;
            }
        }
    }
    .wrapper > .restaurants
    {
        display: grid;
        grid-template-columns: 38% 38%;
        gap: 50px;
        max-width: unset;

        & .restaurants_title
        {
            grid-column: 1 / span 2;
            text-align: center;
        }
        
    }
}


















