@import "variables";

/* font query */

@each $font in $font-list 
{@include getFont($font);}

/* media query */

@media #{$mq-mob-small}
{
    div.button-rect
    {
        padding-left: 60px;
        .button-rect_sticker
        {
            top: 32px;
        } 
        .icon-ftng
        {
            top: 38px;
            left: 14%;
        }
    }
}
@media #{$mq-mob-medium}
{
    div.button-rect
    {
        padding-left: 60px;
        .button-rect_sticker
        {
            top: 20px;
        } 
        .icon-ftng
        {
            top: 26px;
            left: 10%;
        }
    }

    .wrapper .header
    {
        &_search
        {
            &_container
            {   
                max-width: 555px;
                width: 100%;
                margin: auto;
            }
        }    
    }

}
@media #{$mq-tab-medum}
{
    /* item */

    h1.logo
    {
        &--header
        {
            font-size: 50px;
        }
    }
    div.button
    {
        grid-area: button;
        margin: auto;
    }
    
    /* rules */

    body > .wrapper
    {
        grid-template-areas: 
        "header header"
        "explore explore"
        "functioning functioning"
        "restaurants restaurants";
        grid-template-columns: 41%;  
    }
    .wrapper .header
    {
        display: grid;
        grid-template-areas: 
        "search logo"
        "intro intro";
        grid-template-columns: 40% 60%;
        width: 100%;
        .logo
        {
            @include uncenter;
        }
        &_search
        {
            grid-area: search;
            &_container
            {
                padding: 10px 20px 0 20px;
                width: 100%;
                &_icon
                {
                    left: 28%;
                    top: 35%;                
                }
                &_field
                {
                    width: 100%;
                }
            }
        }    
    }
    .wrapper > .explore
    {
        grid-template-areas: "text title button";
        grid-template-columns: 33.3% 33.3% 33.3%;
        justify-content: center;
        width: $max;
        border-top: solid $color-gray 2px;
        .explore_title
        {
            grid-area: title;
            margin: auto;
        }
        .explore_text
        {
            grid-area: text;
            margin : auto;
        }
    }
    .wrapper > .functioning
    {
        & .functioning_title
        {
            text-align: center;
        }
        ul
        {
            display: grid;
            grid-template-columns: auto auto auto;

            div.button-rect
            {
                padding-left: 60px;
                .button-rect_sticker
                {
                    top: 21px;
                }
                .icon-ftng
                {
                    left: 14%;
                }
            }
        }
    }
    .wrapper > .restaurants
    {
        display: grid;
        grid-template-columns: 38% 38%;
        gap: 50px;
        max-width: unset;

        & .restaurants_title
        {
            grid-column: 1 / span 2;
            text-align: center;
        }
        
    }
}


// #{$mq-lap-medum}














