/* break points sizes */

$bp-mob-small: 320px; 
$bp-mob-medium: 375px; 
$bp-mob-large: 425px; 
$bp-tab-medium: 768px; 
$bp-lap-medium: 1024px; 
$bp-lap-large: 1440px; 
$bp-4K-xxlarge: 2560px; 

/* media queries */

$mq-mob-small:  "(min-width: #{$bp-mob-small})";  
$mq-mob-medium:  "(min-width: #{$bp-mob-medium})"; 
$mq-mob-large:  "(min-width: #{$bp-mob-large})"; 
$mq-tab-medium:  "(min-width: #{$bp-tab-medium})"; 
$mq-lap-medum:  "(min-width: #{$bp-lap-medium})"; 
$mq-lap-large:  "(min-width: #{$bp-lap-large})"; 
$mq-4K-xxlarge:  "(min-width: #{$bp-4K-xxlarge})"; 
$mq-landscape:  "(max-width: 767px) and (orientation: landscape)"; 

/* colors */

$color-primary: #FF79DA; 
$color-secondary: #9356DC; 
$color-tertiary: #99E2D0; 
$color-gradient: linear-gradient(to bottom right,  $color-primary, $color-secondary); 
$color-white: #ffffff; 
$color-white-dirty: #f6f6f6; 
$color-black: #000000; 
$color-shadow: rgba(128, 128, 128, 0.352); 
$color-shadow-strong: rgba(30, 30, 30, 0.352); 
$color-gray: #7f7f7f; 
$color-gray-light: #dddddd; 
$color-black-light: lighten(#000000, 50%);
$color-transprent: #00000000;  
$color-black-gray: #353535; 


/* maps */
$list-drpr-amnimate: left right;

/* lists */

$font-list: "shrikhand" "roboto"; 

/* fonts */

$font-logo: shrikhand, serif, sans-serif; 
$font-text: roboto, serif, sans-serif; 

/* font sizes */

$font-size-origin: 16px; 
$font-size-title: 1.5em; 
$font-size-menus-subtitle: 1.2em; 
$font-size-text: 1em; 
$font-size-hdr-logo: 2.2em; 
$font-size-hdr-arrow: 1.5em; 
$font-size-ftg-btn-stkr: 1.05em; 
$font-size-ftg-btn-icn: 1.5em; 
$font-size-rst-card-cpt: 1em; 
$font-size-rst-card-cpt-strg: 1.1em; 
$font-size-icn-heart: 1.6em;
$font-size-rst-card-tag: 0.9em;
$font-size-ftr-logo: 1em; 
$font-size-ftr-list-item: 0.9em; 
$font-size-ftr-list-icn: 1em;
$font-size-icn-heart: 2em;
$font-size-btn-round: 0.9em;
$font-size-btn-round: 0.9em;
$font-size-btn-icn-chk: 2em;
$font-size-btn-subtex: 0.85em;
$font-size-loader-text: 1.5em;

/* fonts multiplicators */

$multp-lap-large: 1.2;
$multp-4k: 2;

/* paddings */

$padding-base: 1em;  // base value  1.25em
$padding-sctn-title: 1.1em; 
$padding-bottom-sctn-title: 0.5em; 
$padding-expl-title: 1.1em; 
$padding-bottom-expl-title: 3.3em; 
$padding-ftg: 3em; 
$padding-ftg-top: 2.5em; 
$padding-stkr-form: 0.1em 0.5em; 
$padding-rst: 3em; 
$padding-rst-card-caption: 0.7em;
$padding-rst-card-tag: 0.20em 0.95em;
$padding-ftr-down: 2em;  
$padding-right-ftr-list-icn: 0.6em;  
$padding-btn-round: 1em;  
$padding-btn-icn-chk: 0.67em;  

/* margins */

$margin-bottom-ftr-logo: 1em; 
$margin-top-btn: 2.5em; 
$margin-loader-text: 2.5em; 

/* gaps */

$gap-regular: 1em; 
$gap-rst: 5em; 
$gap-expl: 1.5em; 
$gap-sctn-ftg: 2em; 
$gap-sctn: 2em; 
$gap-menus: 1em; 

/* percent */

$max-perct: 100%; 
$half-perct: $max-perct / 2;  

/* widths */                    

$width-expl-btn: 16em;
$max-width-ftg-btn: 24em;                
$width-rst: 100%; 
$width-rst-card: 100%; 
$widh-rst-card-link: 100%; 
$widh-rst-card-img: 100%; 
$max-width-rst-card: 31.3em; 
$width-btn-round: 13em; 
$width-btn-text: 95%; 
$width-btn-subtex: 79%; 
$width-btn-bg-chk: 5em; 
$width-btn-text-hover: calc(100% - 70px); 
$width-btn-subtex-hover: calc(100% - 120px); 
$width-hls: 3em; 

/* heights */

$height-rst: 100%; 
$height-rst-card: 81%; 
$height-rst-card-link: 100%; 
$height-rst-card-img: 70%;
$height-srch-field: 3.2em; 
$height-rst-card-caption: 28%; 

/* borders */

$border-vh-lines: solid $color-gray-light 0.32em;
$border-hls: solid $color-tertiary 0.32em;

/* borders radius*/

$radius-rounded: 2.5em;
$radius-circle: 50px; 
$radius-rect: 15px; 
$radius-rect-right: 0 15px 15px 0;
$radius-rect-up: 15px 15px 0 0; 
$radius-rect-down: 0 0 15px 15px; 
$radius-bubble-up: 30px 30px 0 0; 

/* shadows */

$box-shadow-regular: 7px 7px 7px $color-shadow; 
$box-shadow-strong: 10px 10px 10px $color-shadow-strong; 
$box-shadow-black: 10px 10px 10px $color-black; 

/* position */

$right-hdr-arrow : 88%;
$bottom-hdr-arrow : 40%;
$left-ftg-btn-stkr: -4%; 
$top-ftg-btn-stkr: 28%;  
$left-ftg-btn-icn: 10%;  
$top-ftg-btn-icn: 18%;  
$left-rst-card-icn: 75%;
$top-rst-card-icn: 77%;
$left-rst-card-tag: 66%;
$bottom-rst-card-tag: 83%;
$left-icn-heart: 87%;
$bottom-icn-heart: 12%;
$right-btn-icn-chk: -3em;
$bottom-btn-icn-chk: 0em;
$right-btn-bg-chk: -5em;
$top-btn-bg-chk: 0em;
$right-btn-price: 2em;
$right-btn-icn-chk-hover: 0em;
$right-btn-bg-chk-hover: 0em;
$right-btn-price-hover: 6em;

/* animations */

$animation-vl: vl_animate  linear 2s;
$animation-hl: hl_animate linear 2s;
$animation-hl: hl_animate linear 2s;

/* animation durations */

$duration-menus: 0.7;
$duration-hls-animate: 1.7s;

/* animations */

$animation-hls: hls-animate linear $duration-hls-animate;

/* animation offsets */

$offset-menus-animate: 0.5;

/* transitions */ 

$transition-color: color 0.6s;  
$transition-btn-text: width 0.6s;
$transition-btn-subtext: width 0.6s;
$transition-btn-price: right 0.6s;
$transition-btn-icn-chk: right 0.6s, transform 0.6s;
$transition-btn-bg-chk: right 0.6s;
$transition-btn-white: background-color linear #{$duration-menus}s, box-shadow linear #{$duration-menus}s;

/* translation */

$translateY-sctn: -15vmin;
$translateY-sctn: translateY($translateY-sctn);

/* rotations */

$rotate-btn-icn-chk-hover: rotate(720deg);



















 







