/* break points */

$bp-mob-small: 320px;
$bp-mob-medium: 375px;
$bp-mob-large: 425px;
$bp-tab-medium: 768px;
$bp-lap-medium: 1024px;
$bp-lap-large: 1440px;
$bp-4K-xxlarge: 2560px;

/* media query sizes */

$mq-mob-small:  "(min-width: #{$bp-mob-small})";
$mq-mob-medium:  "(min-width: #{$bp-mob-medium})";
$mq-mob-large:  "(min-width: #{$bp-mob-large})";
$mq-tab-medum:  "(min-width: #{$bp-tab-medium})";
$mq-lap-medum:  "(min-width: #{$bp-lap-medium})";
$mq-lap-large:  "(min-width: #{$bp-lap-large})";
$mq-4K-xxlarge:  "(min-width: #{$bp-4K-xxlarge})";

/* fonts */

$font-list: "shrikhand" "roboto";
$font-logo: shrikhand, serif, sans-serif;
$font-text: roboto, serif, sans-serif;

/* borders radius*/

$radius-rounded: 40px;
$radius-circle: 50px;
$radius-rectangular: 15px;
$radius-rect-up: 15px 15px 0 0;
$radius-rect-down: 0 0 15px 15px;

/* paddings */

$padding-blk: 20px;
$padding-btn: 15px;
$padding-stkr: 5px 12px;
$padding-regular: 20px;
$padding-down: 0 0 60px 0;
$padding-top: 60px 0 0 0;
$padding-top-down: 60px 0 60px 0;

/* margins */

$margin-btn: 20px;
$margin-btn-top: 20px 0 0 0;
$margin-btn-down: 0 0 20px 0;
$margin-btn-top-down: 20px 0 20px 0;

/* colors */

$color-primary: #FF79DA;
$color-secondary: #9356DC;
$color-tertiary: #99E2D0;
$color-gradient: linear-gradient($color-primary, $color-secondary);
$color-gradient-reverse: linear-gradient($color-secondary, $color-primary);
$color-white: #ffffff;
$color-white-dirty: #f6f6f6;
$color-black: #000000;
$color-shadow: rgba(128, 128, 128, 0.352);
$color-gray: #7f7f7f;
$color-gray-light: #dddddd;
$color-black-light: lighten(#000000, 50%);

/* shadows */

$shadow-regular: 7px 7px 7px $color-shadow;
$shadow-light: 0 20px 10px -20px $color-gray;

/* sizes */

$size-font-hdr_logo: 20px;
$size-font-ftr_logo: 20px;
$size-font-text: 20px;

/* percent */

$max-perct: 100%;

/* transitions */ 

$transition-color: color 0.5s;

/* gaps */

$gap-regular: 50px;














$color-transprent: #00000000;




$color-black-gray: #353535;








 




/* margins */

$margin-down: 5px 5px 20px 5px;







