
$font-list: "shrikhand" "roboto";
$font-logo: shrikhand, serif, sans-serif;
$font-text: roboto, serif, sans-serif;

$color-gray-light: #dddddd;
$color-gray: #7f7f7f;;
$color-white: #ffffff;
$color-white-dirty: #f6f6f6;
$color-black: #000000;
$color-black-light: lighten(#000000, 50%);
$color-black-dark: #353535;
$color-primary: #FF79DA;
$color-secondary: #9356DC;
$color-tertiary: #99E2D0;
$color-gradient: linear-gradient($color-primary, $color-secondary);

$color-background-explore: #f6f6f6;

$police-shrikhand: "shrikhand", serif, sans-serif;
$police-roboto: "roboto", serif, sans-serif;

$font-shrikhand: "shrikhand";
$font-roboto: "roboto"; 
