
/* color */

$primary: #FF79DA;
$secondary: #9356DC;
$tertiary: #99E2D0;
$color-footer: #353535;
$color-background: #ffffff;
$color-search-field: #dddddd;
$color-button: linear-gradient($primary, $secondary);


/*font-size */

$font-size-header: 10px;

/* font-family */

$police-shrikhand: "shrikhand", serif, sans-serif;
$police-roboto: "roboto", serif, sans-serif;
$font-shrikhand: "shrikhand";
$font-roboto: "roboto"; 

/* font query */

@mixin getFont($font)
{
    @font-face
    {
        font-family: $font;
        src: url(../font/#{$font}/#{$font}.eot),
        url(../font/#{$font}/#{$font}.ttf) format("truetype"),
        url(../font/#{$font}/#{$font}.svg) format("svg"),
        url(../font/#{$font}/#{$font}.woff) format("woff"),
        url(../font/#{$font}/#{$font}.woff2) format("woff2"),
        url(../font/#{$font}/#{$font}.eot?#iefix) format("embedded-opentype");
    }   

}



