
$primary: #FF79DA;
$secondary: #9356DC;
$tertiary: #99E2D0;
$color-footer: #353535;
$color-background: #ffffff;
$color-search-field: #dddddd;
$color-button: linear-gradient($primary, $secondary);

$police-shrikhand: "shrikhand", serif, sans-serif;
$police-roboto: "roboto", serif, sans-serif;

$font-shrikhand: "shrikhand";
$font-roboto: "roboto"; 

$font-logo: $font-shrikhand;
$font-title: $font-shrikhand;
$font-text: $font-roboto;

$font-size-header: 10px;

$text-center: center;

$width-max: 100%;
$height-search-field: 50px;

$shadow: 0px 7px 7px gray inset;

