@charset "utf-8";

@import 'variables';
@import 'mixin';

@each $var in $font-list { @include getFont($var); }

/* all */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-text;
}
[class*=__logo] 
{ 
    font-family: $font-logo;
}

/* general */

.hdr
{
    display: grid;
    grid-template-areas: 
    "logo"
    "intro"
    "search";
    text-align: center;
    padding: $padding-base;
    
    &__logo
    {
        grid-area: logo;
    }
    &__intro
    {
        grid-area: intro;
    }
}
.ftr
{
    background-color: $color-black-gray;
    padding: $padding-base;

    &__logo
    {
        color: $color-white;
    }
    .list
    {
        list-style-type: none;
        
        &__itm
        {
            text-decoration: none;
            color: $color-white;
        }
    }
}

/* item */

.btn
{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    box-shadow: $shadow-regular;    
    padding: $padding-btn-form;

    &--round 
    { 
        border-radius: $radius-rounded; 
    }
    &--rect
    { 
        border-radius: $radius-rectangular; 
    }
    &--grad 
    { 
        background: $color-gradient; color: $color-white;
    }
    &--white
    {
        background-color: $color-white-dirty; color: $color-black
    }
    &__sticker
    {
        display: inline-block;
        text-align: center;
        background-color: $color-secondary;
        color: $color-white;
        border-radius: $radius-circle;
        padding: $padding-stkr-form;
    }
    &__icon
    {
        color: $color-black-gray;
    }
}







