@charset "utf-8";

@import 'variables';
@import "query";
@import 'mixin';


@each $var in $font-list { @include getFont($var); }

/* all */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-text;
}
[class*=__logo] 
{ 
    font-family: $font-logo;
}

/* general */

.hdr
{
    display: grid;
    grid-template-areas: 
    "logo"
    "intro"
    "search";
    text-align: center;
    padding: $padding-base;
    
    &__logo
    {
        grid-area: logo;
        font-weight: unset;
    }
    &__intro
    {
        grid-area: intro;
    }
}
.ftr
{
    display: grid;
    grid-template-areas: 
    "logo"
    "list";
    background-color: $color-black-gray;
    padding: $padding-base;
    padding-bottom: $padding-ftr-down;

    &__logo
    {

        grid-area: logo;
        color: $color-white;
        margin-bottom: $margin-bottom-ftr-logo;
        font-size: $font-size-ftr_logo;
        font-weight: unset;
    }
    .list
    {
        grid-area: list;
        display: inline-grid;
        grid-template-areas: 
        "propose"
        "partner"
        "mentions"
        "contact";
        list-style-type: none;
        
        &__itm
        {
            text-decoration: none;
            color: $color-white;         
        }
        &__icon
        {
            padding-right: $padding-right-ftr-list-icn;
        }
        .propose
        {
            grid-area: propose;
        }
        .partner
        {
            grid-area: partner;
            
        }
        .mentions
        {
            grid-area: mentions;
            
        }
        .contact
        {
            grid-area: contact;
            
        }
    }
}

/* item */

.btn
{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    box-shadow: $box-shadow-regular;    
    padding: $padding-btn-form;

    &--round 
    { 
        border-radius: $radius-rounded; 
    }
    &--rect
    { 
        border-radius: $radius-rectangular; 
    }
    &--grad 
    { 
        background: $color-gradient; color: $color-white;
    }
    &--white
    {
        background-color: $color-white-dirty; color: $color-black
    }
    &__sticker
    {
        display: inline-block;
        text-align: center;
        background-color: $color-secondary;
        color: $color-white;
        border-radius: $radius-circle;
        padding: $padding-stkr-form;
    }
    &__icon
    {
        color: $color-black-gray;
    }
}
.card
{
    border-radius: $radius-rectangular;
    box-shadow: $box-shadow-regular;
    width: 100%;
    height: 81%;
    max-width: 500px;

    &__link
    {
        display: inline-block;
        text-decoration: none;
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
    &__img
    {
        object-fit: cover;
        border-radius: $radius-rect-up;
        width: 100%;
        height: 70%;        
    }
    &__caption
    {
        border-radius: $radius-rect-down;
        color: $color-black;
        padding: 10px;
        font-size: 90%;
    } 
}






