@charset "utf-8";

@import "variables";
@import "mixin";
@import "query";


 /* modifier */

.center
{
    width: $max;
    margin: auto;
    text-align: center;
}   
.rounded
{
    border-radius: $border-rounded;
}
.rectangular
{
    border-radius: $border-rectangular;
}
.circle
{
    border-radius: $border-circle;
}
.unlist
{
    list-style-type: none;
}
.unlink
{
    display: inline-block;
    text-decoration: none;
    color: $color-black;
}
.spacer-right
{
    margin-right: 5px; 
}
.tag::before
{
    content: "Nouveau";
    display: inline-block;
    background-color: $color-tertiary;
    font-size: 120%;
    position: absolute;
    top: 0;                
    right: 0;
    margin: 20px;
    padding: 5px;
}

/* item */

.logo
{
    font-family: $font-logo;
    &--header
    {
        font-size: 35px;
        color: $color-black;
    }
    &--footer
    {
        grid-area: logo;
        font-size: 20px;
        margin-bottom: 20px;
        color: $color-white;
    }
}
.button
{
    grid-area: button;
    background: $color-gradient;
    color: $color-white;
    margin-bottom: 15px;
    padding: 15px;
    width: 220px;
    margin: auto;
    font-weight: bold;
    box-shadow: $shadow-regular;
    margin-bottom: 35px;
}
.button-rect
{
    border-radius: $border-rectangular;
    position: relative;
    padding: 25px;
    color: $color-black;
    width: $max;
    &_sticker
    {
        position : absolute;
        color: $color-white;
        padding: 4px 10px;
        background-color: $color-secondary;
        top: 21px;
        left: -15px;
    } 
}
.card
{
    box-shadow: $shadow-regular;
    background-color: $color-white;
    color: $color-black;
    text-align: start;
    position: relative;
    height: 250px;
    &_link
    {   
        width: $max;
        height: 250px;
        
        &_img
        {
            border-radius: $border-up;
            object-fit: cover;
            width: $max;
            height: 75%;
        }
        &_caption
        {
            padding: 10px;
        }
    }
}
.icon-ftng
{
    color: $color-gray;
    font-size: 20px;
    position: absolute;
    left: 10%;
    color: $color-gray;
    transition: $transition-color;
}
a:hover .icon-ftng
{
    color: $color-secondary;
}
.icon-heart
{
    position : absolute;
    font-size: 23px;
    top: 80%;
    left: 80%;
    color: $color-secondary;
    transition: $transition-color;
    &--full
    {
        color: $color-transprent;
    }    
    &:hover
    {
        color: $color-secondary;
    }
}

/* group rules */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2, p, div, span
{
    font-family: $font-text;
}

/* rules */

.header
{    
    @extend .center;
    grid-area: header;
    padding: $padding-regular;
    margin: unset;
}
.footer
{
    display: grid;
    grid-template-areas:
    "logo"
    "container";
    background-color: $color-black-gray;
    padding: $padding-regular;
    &_container
    {
        grid-area: container;
        display: grid;
        grid-template-areas: 
        "proposition" 
        "partner"
        "mentions"
        "contact";
        grid-template-columns: $max;
        a
        {
            color: $color-white;   
            margin-bottom: 7px;
        }
        .proposition
        {
            grid-area: proposition;
        }
        .partner
        {
            grid-area: partner;
        }
        .mentions
        {
            grid-area: mentions;
        }
        .contact
        {
            grid-area: contact;
        }
    }
}



