@charset "utf-8";

@import "variables";
@import "mixin";
@import "query";

@include getFont($font-list);

 /* modifier */

.center
{
    width: 100%;
    margin: auto;
    text-align: center;
}   
.rounded
{
    border-radius: $border-rounded;
}
.rectangular
{
    border-radius: $border-rectangular;
}
.circle
{
    border-radius: $border-circle;
}
.unlist
{
    list-style-type: none;;
}
.unlink
{
    display: inline-block;
    text-decoration: none;
    color: $color-black;
}
.spacer-right
{
    margin-right: 5px; 
}
.tag::before
{
    content: "Nouveau";
    display: inline-block;
    background-color: $color-tertiary;
    font-size: 120%;
    position: absolute;
    top: 0;                
    right: 0;
    margin: 20px;
    padding: 5px;
}


/* item */

.button
{
    grid-area: button;
    background: $color-gradient;
    color: $color-white;
    margin-bottom: 15px;
    padding: 15px;
    width: 220px;
    margin: auto;
    font-weight: bold;
    box-shadow: $shadow-regular;
    margin-bottom: 35px;
}
.button-rect
{
    border-radius: $border-rectangular;
    position: relative;
    padding: 25px;
    color: $color-black;
    &_sticker
    {
        position : absolute;
        color: $color-white;
        padding: 4px 10px;
        background-color: $color-secondary;
        top: 21px;
        left: -15px;
    } 
}
.card
{
    box-shadow: $shadow-regular;
    background-color: $color-white;
    color: $color-black;
    text-align: start;
    position: relative;
    height: 250px;

    &_link
    {   
        width: 100%;
        height: 250px;
        
        &_img
        {
            border-radius: $border-up;
            object-fit: cover;
            width: 100%;
            height: 75%;
        }
        &_caption
        {
            padding: 10px;
        }
    }
}
.icon-heart
{
    position : absolute;
    font-size: 23px;
    top: 80%;
    left: 80%;
    color: $color-secondary;
    transition: $transition-color;

    &--full
    {
        color: $color-transprent;
    }    
    &:hover
    {
        color: $color-secondary;
    }

}


/* group rules */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
[class*=_logo]
{
    font-family: $font-logo;
}
h1,h2, p, div, span
{
    font-family: $font-text;
}

/* rules */

.header
{    
    @extend .center;
    grid-area: header;
    padding: $padding-regular;
    margin: unset;

    &_logo
    {
        font-size: 35px;
        color: $color-black;
    }
}
.footer
{
    display: grid;
    grid-template-areas:
    "logo"
    "nav";
    background-color: $color-black-gray;
    padding: $padding-regular;

    &_logo
    {
        grid-area: logo;
        font-size: 20px;
        margin-bottom: 20px ;
        color: $color-white;
    }
    nav
    {
        grid-area: nav;
        
        ul
        {
            display: grid;
            grid-template-areas: 
            "proposition" 
            "partner"
            "mentions"
            "contact";
            grid-template-columns: 100%;

            li
            {
                @extend .unlist;

                a
                {
                    @extend .unlink;
                    grid-area: partner;
                    color: $color-white;

                    .proposition
                    {
                        grid-area: proposition;
                    }
                    .partner
                    {
                        grid-area: mentions;
                    }
                    .mentions
                    {
                        grid-area: contact;
                    }
                    .contact
                    {
                        grid-area: contact;
                    }
                }
            }
            
        }
    
    }
}



