@charset "utf-8";

@import 'variables';

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hdr
{
    border: solid red 3px;
    &__logo
    {
        
    }
    &__intro
    {
        font-size: $size-font-text;
    }
}