@charset "utf-8";

@import "mixin";

@include mq-tab-medium;
@include mq-lap-medium;
@include mq-lap-large;
@include mq-4K-xxlarge;

@include menus-animate;
@include origin;
@include btn;
@include icon-heart;


[class*=title]
{
    font-weight: unset;
}
.mn
{
    background-color: $color-white-dirty;
}
.hdr
{
    position: relative;
    &__arrow
    {
        position: absolute;
        color: $color-black;
        right: $right-hdr-arrow;
        bottom: $bottom-hdr-arrow;
        font-size: $font-size-text;
    }
}
.intro
{
    width: $max-perct;
    object-fit: cover;
}
.sctn
{
    display: grid;
    grid-template-areas: 
    "title"
    "starters"
    "dishies"
    "desserts"
    "order";
    grid-template-columns: $max-perct;
    row-gap: $gap-sctn;
    background-color: $color-white-dirty;
    transform: $translateY-sctn;
    border-radius: $radius-bubble-up;
    padding: $padding-base;
    justify-items: center;  

    .title-cntr
    {
        grid-area: title;
        position: relative;
        width: $max-perct;
        &__title
        {
            font-family: $font-logo;
        }
        .icon-heart
        {
            left: $left-icn-heart;
            bottom: $bottom-icn-heart;
        }
    }
    .menus
    {
        display: grid;
        grid-template-columns: $max-perct; 
        row-gap: $gap-menus;
        width: $max-perct;
        text-align: unset;


        [class*=title]
        {
            color: $color-gray;
        }
    }
    .strs
    {
        grid-area: starters;

        .btn
        {
            width: $max-perct;
        }
    }
    .dshs
    {
        grid-area: dishies;
    }
    .dssrs
    {
        grid-area: desserts;
    }
    .order
    {
        grid-area: order;
    }
}
.btn
{
    font-size: 1em;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;

    &:hover
    {    
        .btn__price
        {
            right: 6em;   
        }
        .btn__icon
        {
            right: 0em;
            transform: rotate(720deg);
        }
        .checked-bg
        {
            right: 0em;
        }
    }

    &__subtext
    {
        font-size: 0.85em;
        color: $color-gray;
    }
    &__price
    {
        position: absolute;
        right: 2em;
        transition: $transition-btn-menus-price; 
        background-color : $color-white;
        
    }
    i.btn__icon
    {
        position: absolute;
        font-size: 2em;
        right: -3em;
        bottom: 0em;
        padding: 0.67em;
        color: $color-white;
        border-radius: $radius-rect-right; 
        z-index: 3;
        transition: $transition-btn-menus-checked;
    }
    .checked-bg
    {
        background-color: $color-tertiary;
        position: absolute;
        right: -5em;
        top: 0em;
        width: 5em;
        height: $max-perct;
        z-index: 2;
        transition: $transition-btn-menus-checked-bg;
    }
    &--rect
    {
        width: $max-perct;
        text-align: unset;
    }
    &--round
    {
        width: $width-btn-round;
        font-size: $font-size-btn-round;
        padding-top: $padding-btn-round;
        margin-top: $margin-top-btn;
    }
}
.hls
{
    border-bottom: $border-hls;
    width: $width-hls;
}










