@charset "utf-8";

@import "mixin";

@include mq-tab-medium;
@include mq-lap-medium;
@include mq-lap-large;
@include mq-4K-xxlarge;

@include menus-animate(menus);
@include origin;
@include btn;
@include icon-heart;

[class*=title]
{
    font-weight: unset;
}
.wrapper.pages
{
    font-size: $font-size-origin;
}
.hdr.pages
{
    position: relative;
    .hdr__arrow
    {
        position: absolute;
        color: $color-black;
        right: $right-hdr-arrow;
        bottom: $bottom-hdr-arrow;
        font-size: $font-size-hdr-arrow;
    }
}
.intro.pages
{
    object-fit: cover;
    width: $max-perct;
}
.main
{
    background-color: $color-white-dirty;
}
.sctn.pages
{
    display: grid;
    grid-template-areas: 
    "title"
    "starters"
    "dishies"
    "desserts"
    "order";
    grid-template-columns: $max-perct;
    row-gap: $gap-sctn;
    background-color: $color-white-dirty;
    transform: $translateY-sctn;
    border-radius: $radius-bubble-up;
    padding: $padding-base;
    font-size: $font-size-origin;
    justify-items: center;  

    .title-cntr
    {
        grid-area: title;
        position: relative;
        width: $max-perct;
        &__title
        {
            font-family: $font-logo;
            font-size: $font-size-title;
        }
        .icon-heart
        {
            left: $left-icn-heart;
            bottom: $bottom-icn-heart;
            font-size: $font-size-icn-heart;
        }
    }
    .menus
    {
        display: grid;
        grid-template-columns: $max-perct; 
        row-gap: $gap-menus;
        width: $max-perct;
        text-align: unset;
        align-items: center;


        [class*=title]
        {
            color: $color-gray;
            font-size: $font-size-menus-subtitle;
        }
        .btn
        {
            font-size: 1em;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            z-index: 1;

            &:hover
            {
                //background-color: opacify($color-white-dirty, 0.5);
                box-shadow: $box-shadow-strong;

                .btn__text
                {
                    width: $width-btn-text-hover;
                }
                .btn__subtext
                {
                    width: $width-btn-subtex-hover;
                }
                .btn__price
                {
                    right: $right-btn-price-hover;   
                }
                .btn__icon-chk
                {
                    right: $right-btn-icn-chk-hover;
                    transform: $rotate-btn-icn-chk-hover;
                }
                .btn__bg-chk
                {
                    right: $right-btn-bg-chk-hover;
                }
            }

            &--white
            {
                transition: $transition-btn-white;

            }
            &__text
            {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;    
                width: $width-btn-text;
                transition: $transition-btn-text;
                font-size: $font-size-text;;
            }
            &__subtext
            {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;    
                font-size: $font-size-btn-subtex;
                color: $color-gray;
                width: $width-btn-subtex;
                transition: $transition-btn-subtext;
            }
            &__price
            {
                position: absolute;
                right: $right-btn-price;
                transition: $transition-btn-price; 
            }
            i.btn__icon-chk
            {
                position: absolute;
                color: $color-white;
                font-size: $font-size-btn-icn-chk;
                right: $right-btn-icn-chk;
                bottom: $bottom-btn-icn-chk;
                padding: $padding-btn-icn-chk;
                border-radius: $radius-rect-right; 
                transition: $transition-btn-icn-chk;
                z-index: 3;
            }
            .btn__bg-chk
            {
                position: absolute;
                background-color: $color-tertiary;
                right: $right-btn-bg-chk;
                top: $top-btn-bg-chk;
                width: $width-btn-bg-chk;
                height: $max-perct;
                transition: $transition-btn-bg-chk;
                z-index: 2;
            }
            &--rect
            {
                width: $max-perct;
                text-align: unset;
            }
        }
        .hls
        {
            border-bottom: $border-hls;
            width: $width-hls; 
        }
    }
    .strs
    {
        grid-area: starters;
    }
    .dshs
    {
        grid-area: dishies;
    }
    .dssrs
    {
        grid-area: desserts;
    }
    .order
    {
        grid-area: order;
    }
    .btn--round
    {
        width: $width-btn-round;
        font-size: $font-size-btn-round;
        padding-top: $padding-btn-round;
        margin-top: $margin-top-btn;
    }
}









