@font-face {
  font-family: "shrikhand";
  src: url(../font/shrikhand/shrikhand.eot?#iefix) format("embedded-opentype"), url(../font/shrikhand/shrikhand.ttf) format("truetype"), url(../font/shrikhand/shrikhand.svg) format("svg"), url(../font/shrikhand/shrikhand.woff) format("woff"), url(../font/shrikhand/shrikhand.woff2) format("woff2");
}

@font-face {
  font-family: "roboto";
  src: url(../font/roboto/roboto.eot?#iefix) format("embedded-opentype"), url(../font/roboto/roboto.ttf) format("truetype"), url(../font/roboto/roboto.svg) format("svg"), url(../font/roboto/roboto.woff) format("woff"), url(../font/roboto/roboto.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class*=_logo] {
  font-family: shrikhand, serif, sans-serif;
}

h1, p, div {
  font-family: roboto, serif, sans-serif;
}

.--center, .header_logo, .search_field, .explore, .functioning_elem {
  width: 100%;
  margin: auto;
  text-align: center;
}

.--rounded, .explore_button {
  border-radius: 40px;
}

.--rounded-max {
  border-radius: 50px;
}

.--rectangular, .functioning_link, .functioning_button {
  border-radius: 15px;
}

.--unlist, .functioning_elem {
  list-style-type: none;
}

.--unlink, .functioning_link, .restaurants_card, .restaurants_link, .footer_link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.header_logo {
  font-size: 30px;
}

.header_logo--black {
  color: #000000;
}

.search_field {
  background-color: #dddddd;
  -webkit-box-shadow: 0 5px 5px #7f7f7f inset;
          box-shadow: 0 5px 5px #7f7f7f inset;
  outline: none;
  border: none;
  height: 50px;
}

.explore {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title"  "text" "button";
  background-color: #f6f6f6;
  padding: 40px;
}

.explore_title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-weight: bold;
}

.explore_text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  margin: 5px 5px 20px 5px;
  color: gray;
}

.explore_button {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: button;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: #ffffff;
  margin-bottom: 15px;
  padding: 15px;
  width: 220px;
  margin: auto;
  font-weight: bold;
}

.functioning {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title" "nav";
}

.functioning_title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.functioning_nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

.functioning_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.functioning_link {
  width: 300px;
  background-color: #f6f6f6;
  -webkit-box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.352);
          box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.352);
  margin: 15px;
}

.functioning_button {
  position: relative;
  padding: 25px;
  color: #000000;
}

.functioning_sticker {
  position: absolute;
  color: #ffffff;
  border-radius: 50px;
  padding: 4px 10px;
  background-color: #9356DC;
  top: 21px;
  left: -17px;
}

.functioning_icon {
  position: absolute;
  color: #7f7f7f;
  font-size: 23px;
  top: 25px;
  left: 23px;
}

.restaurants {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 100%);
      grid-template-columns: minmax(0, 100%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
}

.restaurants_title {
  text-align: start;
}

.restaurants_card {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "link";
  -webkit-box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.352);
          box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.352);
  background-color: #ffffff;
  color: #000000;
  border-radius: 15px;
  margin: 20px;
  text-align: start;
  position: relative;
}

.restaurants_link {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: link;
  border-radius: 15px;
  width: 100%;
  height: 240px;
}

.restaurants_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
}

.restaurants_caption {
  padding: 10px;
}

.restaurants_icon {
  position: absolute;
  top: 79%;
  left: 80%;
  font-size: 30px;
}

.footer {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo" "nav";
  background-color: #353535;
  padding: 20px;
}

.footer_logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  font-size: 15px;
}

.footer_logo--white {
  color: #ffffff;
}

.footer_nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

.footer_list {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "proposition"  "partner" "mentions" "contact";
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.footer_proposition {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: proposition;
}

.footer_partner {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: partner;
}

.footer_mentions {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: mentions;
}

.footer_contact {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contact;
}

.footer_link {
  color: #ffffff;
}

.footer_icon {
  margin-right: 5px;
}
/*# sourceMappingURL=style.css.map */