@charset "utf-8";

@import "mixin";
@import "query";

/* rules */

.wrapper
{
    display: grid;
    grid-template-areas: 
    "header"
    "search"
    "intro"
    "explore"
    "functioning"
    "restaurants";
    grid-template-columns: 100%;
}
.search
{
    grid-area: search;

    &_container
    {
        display: inline-block;
        position: relative;

        &_icon
        {
            position: absolute;
            left:102px;
            top: 13px;
            font-size: 20px;
            color: $color-black-gray;
        }
        &_field
        {
            font-size: 19px;
            padding-left: 135px;
            background-color: $color-gray-light;
            box-shadow: $shadow-light inset;
            outline: none;
            border: none;
            height: 50px;
            color: $color-black-gray;
            width: 100%;
        }
    }
}
.introduction
{
    grid-area: intro;
    padding: $padding-regular;
}
.explore
{
    grid-area: explore;
    display: grid;
    grid-template-areas: 
    "title" 
    "text"
    "button";
    background-color: $color-white-dirty;
    padding: $padding-regular;

    &_title
    {
        grid-area: title;
        font-weight: bold;
    }
    &_text
    {
        grid-area: text;
        margin: 5px 5px 20px 5px;
        color: $color-black-light;
    }
  
}
.functioning
{

    grid-area: functioning;
    display: grid;
    grid-template-areas:
    "title"
    "nav";
    padding: $padding-down;

    &_title
    {
        grid-area: title;
        margin: 30px 0 10px 0;
    }
    nav
    {
        grid-area: nav;

        ul
        {
            display: grid;
            grid-template-columns: 100%;

            li
            {
                a
                {
                    width: --325px;
                    background-color: $color-white-dirty;
                    box-shadow: $shadow-regular;
                    margin: 15px;
                }

            }

        }

    }
}
.restaurants
{
    grid-area: restaurants;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
    justify-content: center;
    background-color: $color-white-dirty;
    padding: $padding-down;
    margin: auto;
    width: 100%;
    max-width: 750px;

    &_title
    {
        text-align: start;
        margin-top: 30px;
    }
}













