@charset "utf-8";

@import "variables";
@import "mixin";

@each $font in $font-list 
{@include getFont($font);}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*=_logo]
{
    font-family: $font-logo;
}

h1, p, div
{
    font-family: $font-text;
}

.--center
{
    width: 100%;
    margin: auto;
    text-align: center;
}   
.--rounded
{
    border-radius: 40px;
}
.--rounded-max
{
    border-radius: 50%;
}
.--rectangular
{
    border-radius: 20px;
}
.--unlist
{
    list-style-type: none;;
}
.--unlink
{
    display: inline-block;
    text-decoration: none;
}

.header
{
    &_logo
    {
        @extend .--center;
        font-size: 30px;
        &--black

        {
            color: $color-black;
        }
    }
}

.search
{
    &_field
    {
        @extend .--center;
        background-color: $color-gray-light;
        box-shadow: 0 5px 5px gray inset;
        outline: none;
        border: none;
        height: 50px;
    }
}

.explore
{
    @extend .--center;
    background-color: $color-white-dirty;
    padding: 40px;

    &_title
    {
        font-weight: bold;
    }
    &_text
    {
        margin: 5px 5px 20px 5px;
        color: $color-black-light;
    }
    &_button
    {
        @extend .--rounded;
        background: $color-gradient;
        color: $color-white;
        margin-bottom: 15px;
        padding: 15px;
        width: 220px;
        margin: auto;
        font-weight: bold;
    }
}

.functioning
{
    &_elem
    {
        @extend .--center;
        @extend .--unlist;
    }
    &_link
    {
        @extend .--rectangular;
        @extend .--unlink;
        width: 300px;
        background-color: $color-white-dirty;
        box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.352);
        margin: 15px;
    }
    &_button
    {
        @extend .--rectangular;
        position: relative;
        padding: 25px;
        color: $color-black;
    }
    &_sticker
    {
        position : absolute;
        color: $color-white;
        border-radius: 50%;
        padding: 4px 10px;
        background-color: $color-secondary;
        top: 21px;
        left: -17px;
    }
    &_icon
    {
        position : absolute;
        color: $color-gray;
        font-size: 23px;
        top: 25px;
        left: 23px;
    }
}

.restaurants
{
    background-color: $color-white-dirty;
    @extend .--center;
    
    &_title
    {
        text-align: start;
    }
    &_card
    {   
        @extend .--unlink;
        width:90%;
        height: 250px;
        border-radius: 15px;
        background-color: $color-white;
        margin: 20px;
        color: $color-black;
        text-align: start;
        box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.352);

    }
    &_img
    {
        object-fit: cover;
        width: 100%;
        height: 70%;
        border-radius: 15px 15px 0 0;
    }
}

.footer
{
    background-color: $color-black-dark;

    &_logo
    {
        font-size: 15px;

        &--white
        {
            color: $color-white;
        }
    }
    &_link
    {
        @extend .--unlink;
        color: $color-white;
    }
    &_icon
    {

        margin-right: 5px;
    }
}

