@charset "utf-8";

@import "variables";

.main
{
    display: grid;
    grid-template-areas: 
    "title"
    "explore"
    "functioning"
    "restaurants";

    &__title
    {
        grid-area: "title";
        text-align: center;
        background-color: $color-white-dirty;
        padding: $padding-regular;
        padding-bottom: 10px;
    }   
}
.srch
{
    grid-area: search;
    background-color: $color-gray-light;
    text-align: right;

    box-shadow: $shadow-light inset;
    &__icon
    {
        color: $color-black-gray;
    }
    &__field
    {
        background-color: $color-gray-light;
        outline: none;
        border: none;
        width: 50%;
        height: 50px;
        box-shadow: $shadow-light inset;
    }    
}
.expl
{
    grid-area: explore;
    display: grid;
    grid-template-areas: 
    "title"
    "button";
    text-align: center;
    padding: $padding-regular;
    padding-top: 10px;
    background-color: $color-white-dirty;
    
    &__title
    {
        grid-area: title;
        color: $color-gray;
        font-size: 16px;
        font-weight: unset;
    }
    .btn
    {
        grid-area: button;
        width: 220px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: $margin-btn;    
    }
}
.ftg
{

    grid-area: functioning;
    display: grid;
    grid-template-areas: 
    "title"
    "choose"
    "compose"
    "eat"; 
    row-gap: $gap-regular;
    padding: $padding-regular;
    padding-top: $padding-ftg;
    padding-bottom: $padding-ftg;

    &__title
    {
        grid-area: title;
    }
    .btn
    {
        width: $max-perct;
        text-decoration: none;
        max-width: 425px;
        margin: auto;
    }
    .choose
    {
        grid-area: choose;
    }
    .compose
    {
        grid-area: compose;
    }
    .eat
    {
        grid-area: eat;
    }
}
.rst
{
    grid-area: restaurants;   
    display: grid;
    grid-template-columns: $max-perct;
    background-color: $color-white-dirty;
    row-gap: $gap-regular;
    padding: $padding-regular;
    padding-top: $padding-rst;
    padding-bottom: $padding-rst;

    .card
    {
        display: inline-block;
        text-decoration: none;
        max-width: 425px;
        margin: auto;

        &__caption
        {
            
        }
        &__text
        {

        }
    }

}

/* items */

.card
{
    border-radius: $radius-rectangular;
    height: 240px;
    box-shadow: $shadow-regular;
    
    &__img
    {
        border-radius: $radius-rect-up;
        object-fit: cover;
        width: $max-perct;
        height: 70%;
    }
    &__caption
    {
        border-radius: $radius-rect-down;
        color: $color-black;
    }   
}




