@charset "utf-8";

@import "variables";
@import "mixin";

@each $font in $font-list 
{@include getFont($font);}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*=_logo]
{
    font-family: $font-logo;
}

h1, p, div
{
    font-family: $font-text;
}


.--center
{
    width: 100%;
    margin: auto;
    text-align: center;
}   
.--rounded
{
    border-radius: $border-rounded;
}
.--rounded-max
{
    border-radius: $border-circle;
}
.--rectangular
{
    border-radius: $border-rectangular;
}
.--unlist
{
    list-style-type: none;;
}
.--unlink
{
    display: inline-block;
    text-decoration: none;
    color: $color-black;
}


.header
{
    &_logo
    {
        @extend .--center;
        font-size: 30px;
        &--black

        {
            color: $color-black;
        }
    }
}

.search
{
    &_field
    {
        @extend .--center;
        background-color: $color-gray-light;
        box-shadow: $shadow-light inset;
        outline: none;
        border: none;
        height: 50px;
    }
}

.explore
{
    @extend .--center;
    display: grid;
    grid-template-areas: 
    "title" 
    "text"
    "button";
    background-color: $color-white-dirty;
    padding: 40px;

    &_title
    {
        grid-area: title;
        font-weight: bold;
    }
    &_text
    {
        grid-area: text;
        margin: 5px 5px 20px 5px;
        color: $color-black-light;
    }
    &_button
    {
    @extend .--rounded;
        grid-area: button;
        background: $color-gradient;
        color: $color-white;
        margin-bottom: 15px;
        padding: 15px;
        width: 220px;
        margin: auto;
        font-weight: bold;
    }
}

.functioning
{
    display: grid;
    grid-template-areas:
    "title"
    "nav";

    &_title
    {
        grid-area: title;
    }
    &_nav
    {
        grid-area: nav;
    }
    &_list
    {
        display: grid;
        grid-template-columns: 100%;
    }
    &_elem
    {
        @extend .--center;
        @extend .--unlist;
    }
    &_link
    {
        @extend .--rectangular;
        @extend .--unlink;
        width: 300px;
        background-color: $color-white-dirty;
        box-shadow: $shadow-regular;
        margin: 15px;
    }
    &_button
    {
        @extend .--rectangular;
        position: relative;
        padding: 25px;
        color: $color-black;
    }
    &_sticker
    {
        position : absolute;
        color: $color-white;
        border-radius: $border-circle;
        padding: 4px 10px;
        background-color: $color-secondary;
        top: 21px;
        left: -17px;
    }
    &_icon
    {
        position : absolute;
        color: $color-gray;
        font-size: 23px;
        top: 25px;
        left: 23px;
    }
}

.restaurants
{
    display: grid;
    grid-template-columns:  minmax(0,100%);
    justify-content: center;
    background-color: $color-white-dirty;

    &_title
    {
        text-align: start;
    }
    &_card
    {
        @extend .--unlink;
        display: grid;
        grid-template-areas: "link";
        box-shadow: $shadow-regular;
        background-color: $color-white;
        color: $color-black;
        border-radius: $border-rectangular;
        margin: 20px;
        text-align: start;
        position: relative;
    }
    &_link
    {   
        @extend .--unlink;
        grid-area: link;
        border-radius: $border-rectangular;
        width: 100%;
        height: 240px;
    }
    &_img
    {
        object-fit: cover;
        width: 100%;
        height: 70%;
        border-radius: $border-up;
    }
    &_caption
    {
        padding: 10px;
    }
    &_icon
    {
        position: absolute;
        top: 79%;
        left: 80%;
        font-size: 30px;
    }
}

.footer
{
    display: grid;
    grid-template-areas:
    "logo"
    "nav";
    background-color: $color-black-dark;
    padding: 20px;

    &_logo
    {
        grid-area: logo;
        font-size: 15px;

        &--white
        {
            color: $color-white;
        }
    }
    &_nav
    {
        grid-area: nav;
    }
    &_list
    {
        display: grid;
        grid-template-areas: 
        "proposition" 
        "partner"
        "mentions"
        "contact";
        grid-template-columns: 100%;
    }
    &_proposition
    {
        grid-area: proposition;

    }
    &_partner
    {
        grid-area: partner;
    }
    &_mentions
    {
        grid-area: mentions;
    }
    &_contact
    {
        grid-area: contact;
    }
    &_link
    {
        @extend .--unlink;
        color: $color-white;
    }
    &_icon
    {

        margin-right: 5px;
    }
}

