@charset "utf-8";

@import "variables";

.main
{
    display: grid;
    grid-template-areas: 
    "title"
    "explore"
    "functioning"
    "restaurants";

    &__title
    {
        grid-area: "title";
        text-align: center;
        background-color: $color-white-dirty;
        padding: $padding-base;
        padding-bottom: $padding-main-title-down;
    }   
}
.srch
{
    grid-area: search;
    background-color: $color-gray-light;
    box-shadow: $box-shadow-light-up-inset;
    text-align: right;

    &__icon
    {
        color: $color-black-gray;
    }
    &__field
    {
        background-color: $color-gray-light;
        outline: none;
        border: none;
        box-shadow: $box-shadow-light-up-inset ;
        width: $half-perct;
        height: $height-srch-field;
    }    
}
.expl
{
    grid-area: explore;
    display: grid;
    grid-template-areas: 
    "title"
    "button";
    text-align: center;
    padding: $padding-base;
    padding-top: $padding-expl-top;
    background-color: $color-white-dirty;
    
    &__title
    {
        grid-area: title;
        color: $color-gray;
        font-weight: unset;
        font-size: $font-size-expl-title;
    }
    .btn
    {
        grid-area: button;
        margin: auto;
        margin-top: $margin-btn-top;
        margin-bottom: $margin-btn-down;    
        width: $width-expl-btn;
    }
}
.ftg
{

    grid-area: functioning;
    display: grid;
    grid-template-areas: 
    "title"
    "choose"
    "compose"
    "eat"; 
    row-gap: $gap-regular;
    padding: $padding-base;
    padding-bottom: $padding-ftg;
    padding-top: $padding-ftg-top;
    position: relative;

    &__title
    {
        grid-area: title;
    }
    .btn
    {
        text-decoration: none;
        margin: auto;
        position: relative;
        padding: $padding-base;
        width: $max-perct;
        max-width: $max-width-ftg-btn;

        &__sticker
        {
            position: absolute;
            left: $left-btn_stkr;
            top: $top-btn-stkr;
        }
        &__icon
        {
            position: absolute;
            left: $left-btn-icn;
            top: $top-btn-icn;
        }
    }
    .choose
    {
        grid-area: choose;
    }
    .compose
    {
        grid-area: compose;
    }
    .eat
    {
        grid-area: eat;
    }
}
.rst
{
    grid-area: restaurants;   
    display: grid;
    grid-template-columns: $max-perct;
    background-color: $color-white-dirty;
    row-gap: $gap-regular;
    padding: $padding-base;
    padding-top: $padding-rst;
    padding-bottom: $padding-rst;

    .card
    {
        display: inline-block;
        text-decoration: none;
        max-width: $max-width-rst-card;
        margin: auto;
    }

}

/* items */

.card
{
    border-radius: $radius-rectangular;
    box-shadow: $box-shadow-regular;
    height: $height-card;
    
    &__img
    {
        object-fit: cover;
        border-radius: $radius-rect-up;
        width: $max-perct;
        height: $height-card-img-perct;
    }
    &__caption
    {
        border-radius: $radius-rect-down;
        color: $color-black;
    }   
}




