@charset "utf-8";

@import "mixin";

@include mq-tab-medium;
@include mq-lap-medium;
@include mq-lap-large;
@include mq-4K-xxlarge;

@include loader-elemnts-animate($list-drpr-amnimate);
@include origin;
@include btn;
@include card;
@include icon-heart;

.loader
{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: fixed;
    width: 0%;
    height: 0%;
    top: $infinite-val-reverse;
    background-color: $color-secondary;
    font-size: $font-size-origin;
    z-index: 2;

    &__icon
    {
        font-size: 0;
        color: $color-gray;
        opacity: 0;
        z-index: 3;
    }
    &__text
    {
        font-size: $font-size-loader-text;   
        font-family: $font-logo;
        margin-top: $margin-loader-text;
        color: $color-gray;
        top: $infinite-val-reverse;
    }
    &__left
    {
        position: fixed;
        left: $pos-loader-lr;
        top: 0%;
        width: 0%;
        height: 0%;
        background-color: inherit;
    }
    &__right
    {
        position: fixed;
        right: $pos-loader-lr;
        top: 0%;
        width: 0%;
        height: 0%;
        background-color: inherit;
    }
}
.intro.index
{
    text-align: center;
    font-size: $font-size-origin;
    padding: $padding-base;
    padding-top: unset;
}
.sctn.index
{
    display: grid;
    grid-template-areas: 
    "title"
    "explore"
    "functioning"
    "restaurants";
    font-size: $font-size-origin;

    .sctn__title 
    {
        grid-area: title;
        text-align: center;
        background-color: $color-white-dirty;
        padding: $padding-sctn-title;
        padding-bottom: $padding-bottom-sctn-title; 
        font-size: $font-size-title;
    }   
}
.srch
{
    grid-area: search;
    background-color: $color-gray-light;
    border-top: solid rgba(128, 128, 128, 0.070) 3px;
    text-align: right;
    font-size: $font-size-origin;

    &__icon
    {
        color: $color-black-gray;
    }
    &__field
    {
        background-color: $color-gray-light;
        outline: none;
        border: none;
        width: $half-perct;
        height: $height-srch-field;
        font-size: $font-size-text;
    }    
}
.expl
{
    grid-area: explore;
    display: grid;
    grid-template-areas: 
    "title"
    "button";
    row-gap: $gap-expl;
    text-align: center;
    padding: $padding-base;
    padding-top :unset;
    padding-bottom : $padding-bottom-expl-title;

    background-color: $color-white-dirty;

    &__title
    {
        grid-area: title;
        color: $color-gray;
        font-weight: unset;
        font-size: $font-size-text;
    }
    .btn
    {
        grid-area: button;
        font-weight: bold;
        margin: auto;
    }
}
.ftg
{ 

    grid-area: functioning;
    display: grid;
    grid-template-areas: 
    "title"
    "choose"
    "compose"
    "eat"; 
    position: relative;
    row-gap: $gap-sctn-ftg;
    padding: $padding-base;
    padding-bottom: $padding-ftg;
    padding-top: $padding-ftg-top;

    &__title
    {
        grid-area: title;
        font-size: $font-size-title;
    }
    .btn
    {
        text-decoration: none;
        margin: auto;
        width: $max-perct;
        max-width: $max-width-ftg-btn;
        background-color: $color-white-dirty;

        &:hover
        {
            .btn__icon
            {
                color: $color-secondary;
                transition: $transition-color;
            }
        }
        &__sticker
        {
            display: inline-block;
            text-align: center;
            position: absolute;
            left: $left-ftg-btn-stkr;
            top: $top-ftg-btn-stkr;
            background-color: $color-secondary;
            color: $color-white;
            border-radius: $radius-circle;
            padding: $padding-stkr-form;
            font-size: $font-size-ftg-btn-stkr;
        }
        &__icon
        {
            position: absolute;
            left: $left-ftg-btn-icn;
            top: $top-ftg-btn-icn;
            color: $color-gray;
            font-size: $font-size-ftg-btn-icn;
            color: $color-black-gray;
        }
    }
    .choose
    {
        grid-area: choose;
    }
    .compose
    {
        grid-area: compose;
    }
    .eat
    {
        grid-area: eat;
    }
}
.rst
{
    grid-area: restaurants;   
    display: grid;
    grid-template-columns: $max-perct;
    background-color: $color-white-dirty;
    padding: $padding-base;
    padding-top: $padding-rst;
    padding-bottom: $padding-rst;
    width: $width-rst;
    height: $height-rst;

    &__title
    {
        font-size: $font-size-title;
    }        
    .card
    {
        position: relative;
        display: inline-block;
        margin: auto;

        &__link
        {
            display: inline-block;
            text-decoration: none;
            width: $widh-rst-card-link;
            height: $height-rst-card-link;
            border-radius: $radius-rect;
        }    
        .icon-heart
        {
            left: $left-rst-card-icn;
            top: $top-rst-card-icn;
            font-size: $font-size-icn-heart;
        }
        &__tag
        {
            position: absolute;
            background-color: $color-tertiary;    
            color: $color-black-gray;
            font-size: $font-size-rst-card-tag;
            padding: $padding-rst-card-tag;
            left: $left-rst-card-tag;
            bottom: $bottom-rst-card-tag;
        }
    }
} 





