@import "variables";
@import "mixin";

@include getFont($font-shrikhand);
@include getFont($font-roboto);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-roboto;
}

.center-text
{
    text-align: $text-center;
}

header
{    
    @extend .center-text;
    .logo_header { font-family: $font-logo; }
}

#search
{
    .field
    {
        @extend .center-text;
        background-color: $color-search-field;
        width: $width-max;
        height: $height-search-field;
        border: $border-field-search;
        outline: $outline-field-search;
        box-shadow: $shadow-search-field;
    }
}

#explore
{
    @extend .center-text;
    background-color: $color-background-explore; 
    padding: $padding-explore;
    p
    {
        color: $color-explore-text;
    }
    .button
    {
        color: $color-explore-button;
        background: $color-background-explore-button;
        border-radius: $border-radius-explore-button;
        width: $width-explore-button;        
        padding: $padding-explore-button;
        margin: $margin-explore-button;
        font-weight: $font-weight-explore-button;
    }
}

#functioning
{
    margin: 60px 0;
    nav
    {
        ul
        {
            li
            {
                list-style-type: none;
                a
                {
                    display: inline-block;
                    text-decoration: none;
                    border-radius: 20px;
                    margin: 10px;
                    .button
                    {
                        @extend .center-text;
                        padding: 15px;
                        color:black;
                        background-color: #f6f6f6;
                        border-radius: 20px;
                        width: 250px;
                        box-shadow: 7px 7px 7px gray;
                    }
                }

            }
        }
    }
}

#restaurants
{
    background-color: $color-background-restaurant;
    a.card
    {
        display: inline-block;
        border-radius: 20px;
        width: 100%;
        height: 250px;
        text-decoration: none;
        margin: 50px;
        box-shadow: 7px 7px 7px gray;

        img
        {
            object-fit: cover;
            border-radius: 20px 20px 0 0;
            width: 100%;
            height: 71%;
        }
        .caption
        {
            color: #000000;

        }
    }
}

footer
{
    background-color: $color-background-footer;
    padding: 30px 0;
    .logo_footer
    {
        font-family: $font-shrikhand;        
        color: white;
    }

    nav
    {
        ul
        {
            li
            {
                list-style-type: none;
                a
                {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

}



