@charset "utf-8";

@import "variables";
@import "mixin";

@each $font in $font-list 
{@include getFont($font);}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
[class*=_logo]
{
    font-family: $font-logo;
}
h1, p, div
{
    font-family: $font-text;
}


.center
{
    width: 100%;
    margin: auto;
    text-align: center;
}   
.rounded
{
    border-radius: $border-rounded;
}
.circle
{
    border-radius: $border-circle;
}
.rectangular
{
    border-radius: $border-rectangular;
}
.unlist
{
    list-style-type: none;;
}
.unlink
{
    display: inline-block;
    text-decoration: none;
    color: $color-black;
}

.header
{
    padding: $padding-regular;
    &_logo
    {
        @extend .center;
        font-size: 30px;
        color: $color-black;
    }
}
.search
{
    @extend .center;

    &_container
    {
        display: inline-block;
        position: relative;

        &_icon
        {
            position: absolute;
            left:26%;
            top: 24%;
            font-size: 20px;
            color: $color-black-gray;
        }
        &_field
        {
            font-size: 19px;
            padding: 0 0 0 150px;
            background-color: $color-gray-light;
            box-shadow: $shadow-light inset;
            outline: none;
            border: none;
            height: 50px;
            color: $color-black-gray;
        }
    }
}
.explore
{
    @extend .center;
    display: grid;
    grid-template-areas: 
    "title" 
    "text"
    "button";
    background-color: $color-white-dirty;
    padding: $padding-regular;

    &_title
    {
        grid-area: title;
        grid-row: 1;
        grid-column: 1;      
        font-weight: bold;
    }
    &_text
    {
        grid-area: text;
        grid-row: 2;
        grid-column: 1;      
        margin: 5px 5px 20px 5px;
        color: $color-black-light;
    }
    &_button
    {
        @extend .rounded;
        grid-area: button;
        grid-row: 3;
        grid-column: 1;      
        background: $color-gradient;
        color: $color-white;
        margin-bottom: 15px;
        padding: 15px;
        width: 220px;
        margin: auto;
        font-weight: bold;
        box-shadow: $shadow-regular;
        margin-bottom: 35px;

    }
}
.functioning
{
    display: grid;
    grid-template-areas:
    "title"
    "nav";
    padding: $padding-down;

    &_title
    {
        grid-area: title;
        grid-row: 1;
        grid-column: 1;     
        margin: 30px 0 10px 0;
    }
    nav
    {
        grid-area: nav;
        grid-row: 2;
        grid-column: 1;     
        
        ul
        {
            display: grid;
            grid-template-columns: 90%;

            li
            {
                @extend .center;
                @extend .unlist;

                a
                {
                    @extend .rectangular;
                    @extend .unlink;
                    width: 342px;
                    background-color: $color-white-dirty;
                    box-shadow: $shadow-regular;
                    margin: 15px;

                    .button
                    {
                        @extend .rectangular;
                        position: relative;
                        padding: $padding-regular;
                        color: $color-black;

                        &_sticker
                        {
                            position : absolute;
                            color: $color-white;
                            border-radius: $border-circle;
                            padding: 4px 10px;
                            background-color: $color-secondary;
                            top: 21px;
                            left: -15px;
                        }
                        &_icon
                        {
                            position : absolute;
                            color: $color-gray;
                            font-size: 23px;
                            top: 25px;
                            left: 33px;
                        }
                    }

                }

            }

        }

    }
}
.restaurants
{
    display: grid;
    grid-template-columns:  minmax(0,100%);
    row-gap: 20px;
    justify-content: center;
    background-color: $color-white-dirty;
    padding: $padding-down;
    
    &_title
    {
        text-align: start;
        margin-top: 30px;
    }
    .card
    {
        @extend .unlink;
        display: grid;
        grid-template-areas: "link";
        box-shadow: $shadow-regular;
        background-color: $color-white;
        color: $color-black;
        border-radius: $border-rectangular;
        text-align: start;
        position: relative;

        &_link
        {   
            @extend .unlink;
            grid-area: link;
            grid-row: 1;
            grid-column: 1;      
            border-radius: $border-rectangular;
            width: 100%;
            height: 240px;

            &_img
            {
                object-fit: cover;
                width: 100%;
                height: 70%;
                border-radius: $border-up;
            }
            &_caption
            {
                padding: 10px;
            }
        }
        &_icon
        {
            position: absolute;
            top: 79%;
            left: 80%;
            font-size: 30px;
        }
    
    }
}
.footer
{
    display: grid;
    grid-template-areas:
    "logo"
    "nav";
    background-color: $color-black-gray;
    padding: $padding-regular;

    &_logo
    {
        grid-area: logo;
        grid-row: 1;
        grid-column: 1;      
        font-size: 15px;
        color: $color-white;
    }
    nav
    {
        grid-area: nav;
        grid-row: 2;
        grid-column: 1;  
        
        ul
        {
            display: grid;
            grid-template-areas: 
            "proposition" 
            "partner"
            "mentions"
            "contact";
            grid-template-columns: 100%;

            li
            {
                @extend .unlist;
                a
                {
                    @extend .unlink;
                    grid-area: partner;
                    grid-row: 2;
                    grid-column: 1;    
                    color: $color-white;
                    


                    .proposition
                    {
                        grid-area: proposition;
                        grid-column: 1;
                        grid-row: 1;
                    }
                    .partner
                    {
                        grid-area: mentions;
                        grid-column: 1;
                        grid-row: 2;
                    }
                    .mentions
                    {
                        grid-area: contact;
                        grid-column: 1;    
                        grid-row: 3;
                    }
                    .contact
                    {
                        grid-area: contact;
                        grid-column: 1;    
                        grid-row: 4;
                    }
                    .opt
                    {
                        &--icon { margin-right: 5px; } 
                    }
                }
            }
            
        }
    
    }
}












































