@charset "utf-8";

@import "variables";

.main
{
    display: grid;
    grid-template-areas: 
    "title"
    "explore"
    "functioning"
    "restaurants";

    &__title
    {
        grid-area: "title";
        text-align: center;
        background-color: $color-white-dirty;
        padding: $padding-base;
        padding-bottom: $padding-main-title-down;
    }   
}
.srch
{
    grid-area: search;
    background-color: $color-gray-light;
    border-top: solid rgba(128, 128, 128, 0.070) 3px;
    text-align: right;


    &__icon
    {
        color: $color-black-gray;
    }
    &__field
    {
        background-color: $color-gray-light;
        outline: none;
        border: none;
        width: $half-perct;
        height: $height-srch-field;

    }    
}
.expl
{
    grid-area: explore;
    display: grid;
    grid-template-areas: 
    "title"
    "button";
    text-align: center;
    padding: $padding-base;
    padding-top: $padding-expl-top;
    background-color: $color-white-dirty;
    
    &__title
    {
        grid-area: title;
        color: $color-gray;
        font-weight: unset;
        font-size: $font-size-expl-title;
    }
    .btn
    {
        grid-area: button;
        margin: auto;
        margin-top: $margin-btn-top;
        margin-bottom: $margin-btn-down;    
        width: $width-expl-btn;
    }
}
.ftg
{

    grid-area: functioning;
    display: grid;
    grid-template-areas: 
    "title"
    "choose"
    "compose"
    "eat"; 
    row-gap: $gap-regular;
    padding: $padding-base;
    padding-bottom: $padding-ftg;
    padding-top: $padding-ftg-top;
    position: relative;

    &__title
    {
        grid-area: title;
    }
    .btn
    {
        text-decoration: none;
        margin: auto;
        position: relative;
        padding: $padding-base;
        width: $max-perct;
        max-width: $max-width-ftg-btn;
        background-color: $color-white-dirty;

        &:hover
        {
            .btn__icon
            {
                color: $color-secondary;
                transition: $transition-color;
            }
        }
        &__sticker
        {
            position: absolute;
            left: $left-btn_stkr;
            top: $top-btn-stkr;
            font-size: $font-size-btn-stkr;
        }
        &__icon
        {
            position: absolute;
            left: $left-btn-icn;
            top: $top-btn-icn;
            color: $color-gray;
            font-size: $font-size-btn-icn;
        }
    }
    .choose
    {
        grid-area: choose;
    }
    .compose
    {
        grid-area: compose;
    }
    .eat
    {
        grid-area: eat;
    }
}
.rst
{
    grid-area: restaurants;   
    display: grid;
    grid-template-columns: $max-perct;
    row-gap: $gap-regular;
    background-color: $color-white-dirty;
    padding: $padding-base;
    padding-top: $padding-rst;
    padding-bottom: $padding-rst;


    width: 100%;
    height: 100%;
        
    .card
    {
        position: relative;
        display: inline-block;
        margin: auto;

        &__icon
        {
            font-size: calc(100vw /11);
            position: absolute;
            left: 75%;
            top: 78%;
            color: $color-secondary;
            &--hidden
            {
                color: $color-transprent;

                &:hover
                {
                    color: $color-secondary;
                    transition: $transition-color;
                }
            }
        }
        &__tag
        {
            position: absolute;
            background-color: $color-tertiary;    
            color: $color-black-gray;
            left: 65%;
            bottom: 83%;
            padding: 1% 5%;
            font-size: calc(100vw /20);
        }
    }
} 




