@charset "utf-8";

@import "variables";
@import "mixin";

/* rules */

.wrapper
{
    display: grid;
    grid-template-areas: 
    "header"
    "explore"
    "functioning"
    "restaurants";
    grid-template-columns: $max;
    width: $max;
}
.search
{
    grid-area: search;
    &_container
    {
        position: relative;
        &_icon
        {
            position: absolute;
            left:94px;
            top: 13px;
            font-size: 20px;
            color: $color-black-gray;
        }
        &_field
        {
            font-size: 19px;
            padding-left: 40%;
            background-color: $color-gray-light;
            box-shadow: $shadow-light inset;
            outline: none;
            border: none;
            height: 50px;
            color: $color-black-gray;
            width: $max;
        }
    }
}
.explore
{
    grid-area: explore;
    display: grid;
    grid-template-areas: 
    "title" 
    "text"
    "button";
    grid-template-columns: $max;
    padding: $padding-regular;
    background-color: $color-white-dirty;
    &_title
    {
        grid-area: title;
        font-weight: bold;
    }
    &_text
    {
        grid-area: text;
        margin: $margin-down;
        color: $color-black-light;
    }
  
}
.functioning
{
    grid-area: functioning;
    display: grid;
    grid-template-areas:
    "title"
    "nav";
    padding: $padding-down;
    &_title
    {
        grid-area: title;
        margin: 30px 0 10px 0;
    }
    ul
    {
        display: grid;
        grid-template-columns: $max;
        li
        {
            a
            {
                width: 85%;
                max-width: 400px;
                background-color: $color-white-dirty;
                box-shadow: $shadow-regular;
                margin: 15px;
            }
        }
    }
}
.restaurants
{
    grid-area: restaurants;
    display: grid;
    grid-template-columns: $max;
    row-gap: 20px;
    justify-content: center;
    background-color: $color-white-dirty;
    padding: $padding-down;
    margin: auto;
    width: $max;
    max-width: 750px;
    &_title
    {
        text-align: start;
        margin-top: 30px;
    }
}













